{% extends "base.html" %}
{% block title %}Добавление нового теста{% endblock %}

{%block header_class%}navbar navbar-inverse{%endblock%}

{% block content %}
<section id="sign">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="text-center">
                    <h1 class="title">Добавление теста</h1>
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    <table>

                        {% for field in form %}
                            {%if field.errors%}
                                <div class="alert alert-danger" role="alert">
                                    {{field.errors}}
                                </div>
                            {% endif %}

                            <p>{{field}}</p>
                        {%endfor%}

                    </table>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Создать тест</button>
                </form>
            </div>
        </div>
    </div>
</section>

{%endblock%}