{% extends "base.html" %}
{% block title %}Добавление нового вопроса{% endblock %}

{%block header_class%}navbar navbar-inverse{%endblock%}

{% block content %}
<section id="sign">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h3><a href="../">Вернуться к вопросам</a> </h3>
                <div class="text-center">
                    <h1 class="title">Добавление вопроса</h1>
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    <table>

                        {% for field in form %}
                            {%if field.errors%}
                                <div class="alert alert-danger" role="alert">
                                    {{field.errors}}
                                </div>
                            {% endif %}
                            <tr>
                            <td>{{field.label}}</td><td>{{field}}</td>
                            </tr>
                        {%endfor%}
                    </table>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить вопрос</button>
                </form>
                <br>
                <p><strong>*</strong> Заполнение данного поля отличным от нуля значением означает, что в данном вопросе будет выбран способ начисления баллов - «сложение и вычитание»</p>
                <p><strong>**</strong> Заполнение данного поля отличным от нуля значением означает, что в данном вопросе будет выбран способ ответа - "свободный ответ"</p>



            </div>
        </div>
    </div>
</section>

{%endblock%}