<!DOCTYPE html>
<html>
<head lang="ru">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!---->
    <title>{%block title%}Главная :: Тестирование{%endblock%}</title>
    <!---->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic'
          type='text/css'>
    <!---->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/testing.css"/>
    <!---->
    {% block scripts %} {% endblock %}
</head>
<body>
{% block header %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>Модуль тестирования</strong></a>
            </div>
            {% if request.user.is_authenticated %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/tests/">Тесты</a></li>
                    {% if request.user.is_superuser %}
                    <li><a href="/tests/add/">Добавить тест</a></li>
                    {% endif %}
                    <li><a href="/logout/">Выйти</a></li>
                </ul>
            </div>
            {% endif %}
            {%if not request.user.is_authenticated %}
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login/">Вход</a></li>
                        <li><a href="/accounts/register/">Регистрация</a></li>
                    </ul>
                </div>
            {% endif %}
    </div>

    </nav>
<!--</header>-->

{% endblock %}
{% block content %}
{% endblock %}
<footer class="text-center">
{% block footer%}
    <div class="social">
        <a href=""><img src="" alt=""/></a>
        <a href=""><img src="" alt=""/></a>
        <a href=""><img src="" alt=""/></a>
    </div>
    <span>Модуль тестирования&copy; 2015.</span>
{% endblock %}
</footer>
</body>
</html>