{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{%block header_class%}navbar navbar-inverse{%endblock%}

{% block content %}
<section id="sign">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="text-center">
                    <h1 class="title">Вход</h1>
                </div>

                <form action="" method="post">
                    {% csrf_token %}

                    {{login_form.as_p}}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                </form>
                <h4>Вы ещё не с нами? <a href="/accounts/register/">Зарегистрируйтесь!</a> </h4>
            </div>
        </div>
    </div>
</section>

{%endblock%}