{% extends "base.html" %}
{% block title %} Вопросы {% endblock %}

{% block content %}
<section id="olymps">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h3><a href="../">Вернуться к тесту</a> </h3>
                <div class="text-center">
                    <h1 class="title">Вопросы</h1>
                </div>
                <h3><a href="add/">Добавить вопрос </a></h3>
                <table class="table">
                        <thead>
                        <th>#</th><th>Номер вопроса</th><th>Вопрос</th><th>Тип вопроса</th><th>Очки за правильный ответ</th>
                        </thead>
                        <tbody>
                            {%for question in questions%}
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{{question.id}}/">{{question.question_number}}</a></td>
                                <td>{{question.question}}</td>
                                <td>{{question.choice_type}}</td>
                                <td>{{question.plus_points}}</td>
                                </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/blog/page{{ page_obj.previous_page_number }}/">К новым новостям&larr;</a>
        {% endif %}
        <span class="current_page">{{ paginator.number }}</span>
        {% if page_obj.has_next %}
            <a href="/blog/page{{ page_obj.next_page_number }}">Дальше в историю&rarr;</a>
        {% endif %}
    {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}