{% extends "base.html" %}
{% block title %}Настройка профиля{%endblock%}
{%block scripts %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
{%endblock%}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <h3><a href="../">Вернуться к вопросам</a> </h3>
            <div class="text-center">
                <h1 class="title">Вопрос</h1>
            </div>
            <div class="col-md-offset-1 col-md-5">
                    {% if error_password  %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_password }}
                    </div>
                    {% endif %}
                    {% if success  %}
                    <div class="alert alert-success" role="alert">
                        Вы успешно исправили вопрос
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        <table>
                        {% csrf_token %}
                            {% for field in edit_q_form %}
                                {%if field.errors%}
                                    <div class="alert alert-danger" role="alert">
                                        {{field.errors}}
                                    </div>
                                {% endif %}

                                <tr>
                                    <td>{{field.label}}</td><td>{{field}}</td>
                                </tr>
                            {%endfor%}
                        </table>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Изменить вопрос</button>
                    </form>
            </div>
            <div class="col-md-5">
                <div id="hardware">
                    <table class="table">
                        <thead>
                        <th>#</th><th>Ответ</th><th>Корректность</th><th>Номер последовательности</th>
                        </thead>
                        <tbody>
                            {%for answer in answers%}
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{answer.answer}}</td>
                                <td>{{answer.correct}}</td>
                                <td>{{answer.num_answer}}</td>
                                </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                </div>
                <div id="add_hardware" hidden="hidden">
                    <table>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        <table>
                        {% for field in add_answer_form %}
                            {%if field.errors%}
                                <div class="alert alert-danger" role="alert">
                                    {{field.errors}}
                                </div>
                            {% endif %}
                            <tr>
                                <td>{{field.label}}</td><td>{{field}}</td>
                            </tr>
                        {%endfor%}
                        </table>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить изменения</button>
                    </form>
                    </table>
                </div>
                <div id="add_hardware_btn">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить ответ</button>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}