{% extends "base.html" %}
{% block title %}Настройка профиля{%endblock%}
{%block scripts %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
{%endblock%}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="title">Настройки</h1>
            </div>
            <div class="col-md-offset-1 col-md-5">
                    {% if error_password  %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_password }}
                    </div>
                    {% endif %}
                    {% if success  %}
                    <div class="alert alert-success" role="alert">
                        Вы успешно сменили пароль
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                            {% for field in account_settings_form %}
                                {%if field.errors%}
                                    <div class="alert alert-danger" role="alert">
                                        {{field.errors}}
                                    </div>
                                {% endif %}

                                <p>{{field}}</p>
                            {%endfor%}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Изменить пароль</button>
                    </form>
            </div>
            <div class="col-md-5">
                <div id="hardware">
                    <table class="table">
                        <thead>
                        <th>#</th><th>Название</th><th>Описание</th><th>Секретный ключ</th>
                        </thead>
                        <tbody>
                            {%for hardware in hardwares%}
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{hardware.hwtype}}</td>
                                <td>{{hardware.description}}</td>
                                <td>{{hardware.secret_key}}</td>
                                </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                </div>
                <div id="add_hardware" hidden="hidden">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}

                        {% for field in add_hardware_form %}
                            {%if field.errors%}
                                <div class="alert alert-danger" role="alert">
                                    {{field.errors}}
                                </div>
                            {% endif %}

                            <p>{{field}}</p>
                        {%endfor%}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить изменения</button>
                    </form>
                </div>
                <div id="add_hardware_btn">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить устройство</button>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}