{% extends "base.html" %}
{% block title %}Внимание! Идет тестирование{% endblock %}

{%block header_class%}navbar navbar-inverse{%endblock%}

{% block content %}
<section id="sign">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="text-center">
                    <h1 class="title">Вопрос #{{step}}</h1>
                </div>
                <h2>{{question.question}}</h2>
                <form action="" method="post">
                    {% csrf_token %}

                    {%if question.choice_type == question.SINGLE_CHOICE%}
                        {% for answer in answers %}
                            <p><input type="radio" name="answer" value="{{answer.id}}">{{answer.answer}}</p>
                        {% endfor %}
                    {%else%}
                        {% for answer in answers %}
                            <p><input type="checkbox" name="answer" value="{{answer.id}}">{{answer.answer}}</p>
                        {% endfor %}
                    {%endif%}

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Ответить</button>
                </form>

            </div>
        </div>
    </div>
</section>

{%endblock%}