{% extends "base.html" %}
{% block title %}Добавление нового теста{% endblock %}

{%block header_class%}navbar navbar-inverse{%endblock%}

{% block content %}
<section id="sign">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="text-center">
                    <h1 class="title">Настройка теста</h1>
                </div>
                <h3><a href="/tests/edit/{{object.id}}/questions/">Перейти на страницу вопросов теста</a></h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <table>

                        {{form.as_p}}

                    </table>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить тест</button>
                </form>
            </div>
        </div>
    </div>
</section>

{%endblock%}