{% extends "base.html" %}
{% block title %}Тестирование завершено{% endblock %}

{%block header_class%}navbar navbar-inverse{%endblock%}

{% block content %}
<section id="sign">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {% if points > test.pass_score %}
                <div class="text-center">
                    <h1 class="title">Вы успешно прошли тестирование</h1>
                </div>
                {% else %}
                    <h1 class="title">Вы завалили тестирование</h1>

                {% endif %}
                <h2>Вы набрали {{points}}</h2>
                <h2>Проходной балл - {{test.pass_score}}</h2>


            </div>
        </div>
    </div>
</section>

{%endblock%}