{% extends "base.html" %}
{% block title %} Тесты {% endblock %}

{% block content %}
<section id="olymps">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">

                <div class="text-center">
                    <h1 class="title">Тесты</h1>
                </div>
                {% if request.user.is_superuser %}
                <h3><a href="/tests/my/">Перейти к своим тестам</a></h3>
                {% endif %}
                <table class="table">
                        <thead>
                        <th>#</th><th>Название</th><th>Автор</th><th>Описание</th>
                        </thead>
                        <tbody>
                            {%for test in tests%}
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="/test/{{test.id}}/start/">{{test.name}}</a></td>
                                <td>{{test.author}}</td>
                                <td>{{test.description}}</td>
                                </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/blog/page{{ page_obj.previous_page_number }}/">К новым новостям&larr;</a>
        {% endif %}
        <span class="current_page">{{ paginator.number }}</span>
        {% if page_obj.has_next %}
            <a href="/blog/page{{ page_obj.next_page_number }}">Дальше в историю&rarr;</a>
        {% endif %}
    {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}