.ui-datepicker-header {  
    background: #3D496E;
    color: #333;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);  
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    text-shadow: 1px -1px 0px #000;  
    filter: dropshadow(color=#000, offx=1, offy=-1);  
    line-height: 30px;  
    border-width: 1px 0 0 0;  
    border-style: solid;  
    border-color: #FFF;
} 


.ui-datepicker-prev, .ui-datepicker-next {  
        display: inline-block;  
        width: 30px;  
        height: 30px;  
        text-align: center;  
        cursor: pointer;  
        background-image: #FFFFFF;
        background-repeat: no-repeat;  
        line-height: 600%;  
        overflow: hidden;  
}
.ui-datepicker-prev {  
    float: left;  
    background-position: center -30px;  
}  
.ui-datepicker-next {  
    float: rightright;  
    background-position: center 0px;  
}   

    .ui-datepicker-calendar .ui-state-active {  
        background: #FFFFFF;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);  
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);  
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);  
        color: #e0e0e0;
        text-shadow: 0px 1px 0px #4d7a85;  
        filter: dropshadow(color=#4d7a85, offx=0, offy=1);  
        border: 1px solid #55838f;  
        position: relative;  
        margin: -1px;  
    }  