*{
	margin:0;
	padding:0;
	outline:none;
}
.clear{
	clear:both;
}
.line{
	height:2px;
	background:url("/media/images/site/line.jpg") repeat-x top center;
}
html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
	margin: 0;
	margin-left: 0;
	background: #888f99;
	height: 100%;
}

header {
	height: 65px;
	background: #4a5565;
}
#h_left{
	float:left;
}
#h_left>div{
	float:left;
}
#logo {
	display: block;
	padding: 10px 0 10px 5px;
	height: 50px;
	background-size: contain;
	float: left;
}

#lead-in {
	margin-bottom: 30px;
}

#content {
	padding: 50px 0;
}

#column-content {
	width: 940px;
	float: left;
}

/* ---------------------------
	Navigation
   --------------------------- */

nav ul {

	margin: 0;
	padding: 0;
	float: right;

}

nav ul li {
	list-style: none;
	float: left;
}

header nav ul li a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
}

header nav ul li a:hover {
	background: #222;
}

header nav ul li a:active {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}


/* ---------------------------
	Typography
   --------------------------- */
   
h1, h2, h3 {
	font-weight: 300;
	margin: 0;

	line-height: 45px;
	color: #fff;
}

h4, h5, h6 {
	font-weight: bold;
	margin: 5px 0 5px 0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 18px;
	margin: 10px 0;
}

h5 {
	font-size: 13px;
	margin: 0;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px 0;
}
 
p.lead {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}


/* ---------------------------
	Global Styles
   --------------------------- */



.column {
	float: left;
	margin-right: 20px;
}

.four {
	width: 300px;
}

.last {
	margin-right: 0;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* For IE6/7 (trigger hasLayout) */
}




#olimp{
	width:180px;
	padding:10px 0 16px;
	text-align:right;
}
#olimp .title{
	font-size:30px;
	color:#fff;
}
#olimp .kolvo{
	font-size:17px;
	color:#a7b0c1;
}
#olimp .time{
	font-size:17px;
	color:#a7b0c1;
}
#h_right{
	float:right;
}
#h_right>div{
	float:right;
}
#h_right ul{
	list-style:none;
}
#h_right ul li{
	float:left;
	margin:0 20px;
}
#h_right ul li a{
	font-size:25px;
	color:#fff;
	line-height:100px;
	text-transform:uppercase;
	text-decoration:none;
}
#h_right ul li a:hover{
	color:#0786ce;
}
#img{
	width:70px;
	height:70px;
	margin:15px;
	border-radius:10px;
}
#search{
	padding:32px 0; 
}
#search input{
	width:180px;
	height:36px;
	border-radius:18px;
	border:0;
	background:url("/media/images/site/lupa.png") no-repeat right center #393f4f;
	padding:0 20px;
	color:#fff;
}
#middle{
	background:#393f4f;
	min-height:calc(100% - 200px);
	height:auto;
}
#middle.main{
	background:#888f99;
}
#nav_left{
	/*width:300px;*/
	width:60px;
	background:#f2f0f1;
	float:left;
	overflow:hidden;
}
#nav_left:hover{
	width:300px;
}
#nav_left ul{
	list-style:none;
}
#nav_left ul li{
	border-top:1px solid #b9b9bf;
}
#nav_left ul li:first-child{
	border-top:0;
}
#nav_left ul li a{
	display:block;
	width:223px;
	line-height:80px;
	height:100px;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	padding-left:77px;
	color:#465468;
}
#nav_left ul li:hover a,#nav_left ul li.active a{
	color:#0786ce;
}
#nav_left ul li:nth-child(1) a{
	background:url("/media/images/site/l1.png") no-repeat left center;
}
#nav_left ul li:nth-child(1):hover a,#nav_left ul li.active:nth-child(1) a{
	background:url("/media/images/site/l1_h.png") no-repeat left center;
}
#nav_left ul li:nth-child(2) a{
	background:url("/media/images/site/l2.png") no-repeat left center;
}
#nav_left ul li:nth-child(2):hover a,#nav_left ul li.active:nth-child(2) a{
	background:url("/media/images/site/l2_h.png") no-repeat left center;
}
#nav_left ul li:nth-child(3) a{
	background:url("/media/images/site/l3.png") no-repeat left center;
}
#nav_left ul li:nth-child(3):hover a,#nav_left ul li.active:nth-child(3) a{
	background:url("/media/images/site/l3_h.png") no-repeat left center;
}
#nav_left ul li:nth-child(4) a{
	background:url("/media/images/site/l1.png") no-repeat left center;
}
#nav_left ul li:nth-child(4):hover a,#nav_left ul li.active:nth-child(4) a{
	background:url("/media/images/site/l1_h.png") no-repeat left center;
}
#nav_left ul li:nth-child(5) a{
	background:url("/media/images/site/l5.png") no-repeat left center;
}
#nav_left ul li:nth-child(5):hover a,#nav_left ul li.active:nth-child(5) a{
	background:url("/media/images/site/l5_h.png") no-repeat left center;
}
#container{
	width:calc(100% - 200px);
	padding:0 70px 70px;
	float:left;
	/*min-height:calc(100% - 140px);*/
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#sort{
	font-size:20px;
	color:#fff;
	line-height:70px;
}
#listsort ul{
	list-style:none;
	margin-left:130px;
}
#listsort ul li{
	display:inline-block;
	margin:0 20px;
}
#listsort ul li a{
	font-size:16px;
	color:#fff;
	line-height:70px;
}

#options a{
	background:url("/media/images/site/opt.png") no-repeat center center;
	display:block;
	width:24px;
	height:24px;
	padding:23px 0;
	float:right;
}

.tasks{
	width:100%;
	border-collapse:collapse;
}
.tasks tr:nth-child(2n){
	height:10px;
}
.tasks tr td{
	text-align:center;
	vertical-align:middle;
	border:1px solid #393f4f;
	background:#5a6378;
	height:80px;
}
.tasks tr td a{
	font-size:24px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	width: 100%;
	display: block;
	line-height: 80px;
}
.tasks tr td a.exec{
	background:url("/media/images/site/exec.jpg") repeat-x center bottom;
}
#rating,#team{
	width:50%;
	float:left;
	margin-top:110px;
	min-width:410px;
}
#team{
	/*float:right;*/
}
#rating table,#team table{
	border-collapse:collapse;
	width:90%;
}
#rating table tr,#team table tr{
	
}
#rating table tr.this{
	background:#5a6378;
	cursor:pointer;
}
#rating table tr td,#team table tr td,#rating table tr th,#team table tr th{
	text-align:left;
	vertical-align:middle;
	font-size:18px;
	padding:7px 10px;
}
#rating table tr th,#team table tr th{
	color:#fff;
	font-weight:normal;
}
#rating table tr td,#team table tr td{
	color:#747d88;
}
#rating table tr td a,#team table tr td a{
	color:#747d88;
	line-height:33px;
	padding:0 10px;
	display:inline-block;
	vertical-align: top;
	text-decoration:none;
}




#footer{
	background:#4a5500;
	height:100px;
	color: #fff;
	padding: 30px 0;
	position: relative;
	width: 100%;

}

footer #copyright {
	width: 280px;
	float: left;
}

footer nav {
	width: 340px;
	float: center;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer nav a {
	margin: 0 0 0 15px;
}


p.change_link{
    color: rgb(255, 255, 255);
      font-family: helvetica;
    height: 20px;
    width: 440px;
    font-size: 14px ;
    text-align: center;
    border-radius: 0 0  5px 5px;
    );
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    width: 325px;
}
input {

  outline: none;
}

/* все поля исключают submit и checkbox */
#wrapper input:not([type="submit"]){
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    width: 325px;
    height: 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

}

#wrapper input:not([type="submit"]):active,
#wrapper input:not([type="submit"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(230, 250, 250, 1);
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

.s1 a {
	text-decoration: none;
 -moz-transition: color 0.2s 0.02s ease;
 -o-transition: color 0.2s 0.02s ease;
 -webkit-transition: color 0.2s 0.02s ease;
 color:#0786ce;
 }
 
.s1 a:hover {
 color: #4a5565;
 }

/* ---------------------------
	Buttons
   --------------------------- */

/*стилизуем обе кнопки*/
#wrapper p.button input{
    width: 363px;
    cursor: pointer;
    background: rgb(7, 134, 206);
    padding: 8px 5px;
    font-family: helvetica;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
#wrapper p.button input:hover{
    background: rgb(74, 85, 101);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
    text-align: center;
    margin: 5px 0;
}


.fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

 
.fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}


#olimp_list{
	padding:0px 0;
	padding-left: 10%;
	padding-right: 10%;

}
.olimp{
	height:385px;
	width:322px;
	float:left;
	margin-right:33px;
	/*border-radius:7px;
	overflow:hidden;*/
}
.olimp .img{
	height:125px;
	border-radius:7px 7px 0 0;
}
.olimp .mid{
	height:205px;
	width:322px;
	background:#5a6378;
}
.olimp .mid ul{
	list-style:none;
}
.olimp .mid ul li{
	float:left;
	width:107px;
	text-align:center;
	padding:30px 0;
	position:relative;
	z-index:1;
}
.olimp .mid ul li:hover{
	z-index:2;
}
.olimp .mid ul li span{
	display:block;
	margin-top:20px;
	font-size:36px;
	color:#fff;
}
.olimp .mid ul li div.desc{
	width:88px;
	height:34px;
	background:url("/media/images/site/bg_tile.png") repeat center center;
	font-size:14px;
	color:#bdbdbe;
	text-align:center;
	padding:15px;
	border-radius:4px;
	position:absolute;
	top:10px;
	left:60px;
	display:none;
}
.olimp .mid ul li div.desc:before{
	width:9px;
	height:16px;
	content:'';
	position:absolute;
	top:50%;
	margin-top:-8px;
	left:-9px;
	background:url("/media/images/site/arr.png") no-repeat center center;
}
.olimp .mid ul li:hover div.desc{
	display:block;
}
.olimp .accept{
	height:55px;
	background:#0786ce;
	border-radius: 0 0 7px 7px;
}
.olimp .accept a{
	font-size:18px;
	display:block;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	line-height:55px;
	text-decoration:none;
}
.olimp .add{
	display:block;
	width:100%;
	height:100%;
	background:url("/media/images/site/add.png") no-repeat center center;
}
#middle h2{
	font-size:30px;
	text-align:center;
	color:#fff;
	padding:80px;
}
.midmain{
	width:100%;
	padding-bottom:80px;
}
.midmain td{
	text-align:center;
	font-size:30px;
	color:#fff;
}
.midmain ul{
	list-style:none;
	margin-top:20px;
}
.midmain ul li{
	
}

