/* 

	style.css
	
	Colours
	=======
	
	Black:			#000000
	Darker Gray:	#222222
	Dark Gray:		#333333
	Gray:			#444444
	Light Gray:		#eeeeee
	Light Blue:		#00c0ff
	Dark Blue:		#0090bf

*/


/* ---------------------------
	General Styles
   --------------------------- */

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
	margin: 0;
	margin-left: 0;
	background: #888f99;
	height: 100%;
}

/* ---------------------------
	Layout
   --------------------------- */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	height: 65px;
	background: #4a5565;
}

#logo {
	display: block;
	padding: 10px 0 10px 5px;
	height: 50px;
	background-size: contain;
	float: left;
}

#lead-in {
	margin-bottom: 30px;
}

#content {
	padding: 100px 0;
}

#column-content {
	width: 940px;
	float: left;
}

/* ---------------------------
	Navigation
   --------------------------- */

nav ul {

	margin: 0;
	padding: 0;
	float: right;

}

nav ul li {
	list-style: none;
	float: left;
}

header nav ul li a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
}

header nav ul li a:hover {
	background: #222;
}

header nav ul li a:active {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}


/* ---------------------------
	Global Styles
   --------------------------- */



.column {
	float: left;
	margin-right: 20px;
}

.four {
	width: 300px;
}

.last {
	margin-right: 0;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* For IE6/7 (trigger hasLayout) */
}

/* ---------------------------
	Typography
   --------------------------- */
   
h1, h2, h3 {
	font-weight: 300;
	margin: 0;

	line-height: 45px;
	color: #fff;
}

h4, h5, h6 {
	font-weight: bold;
	margin: 5px 0 5px 0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 18px;
	margin: 10px 0;
}

h5 {
	font-size: 13px;
	margin: 0;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px 0;
}
 
p.lead {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

/* ---------------------------
	Footer
   --------------------------- */

footer {
	margin: 0px;
	background: #4a5565;
	color: #fff;
	padding: 30px 0;
	position: relative;
	bottom: 0px;
	width: 100%;
}

footer #copyright {
	width: 280px;
	float: left;
}

footer nav {
	width: 340px;
	float: center;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer nav a {
	margin: 0 0 0 15px;
}

footer a:hover {
	color: #00c0ff;
}



p.change_link{
    color: rgb(255, 255, 255);
      font-family: helvetica;
    height: 20px;
    width: 440px;
    font-size: 14px ;
    text-align: center;
    border-radius: 0 0  5px 5px;
    );
}
/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    width: 325px;
}
input {

  outline: none;
}

/* все поля исключают submit и checkbox */
#wrapper input:not([type="submit"]){
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    width: 325px;
    height: 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

}

#wrapper input:not([type="submit"]):active,
#wrapper input:not([type="submit"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(230, 250, 250, 1);
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

#wrapper select{
	width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    width: 365px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}

#wrapper p.header{
	padding-top: 30px;
	padding-bottom: 10px;
	font-style: Helvetica;
	font-size: 24px;
	color: #FFF;
}

#wrapper p.text{
	padding-top: 30px;
	padding-bottom: 10px;
	font-style: Helvetica;
	font-size: 16px;
	color: #000;
	text-align: justify;
}

.s1 a {
	text-decoration: none;
 -moz-transition: color 0.2s 0.02s ease;
 -o-transition: color 0.2s 0.02s ease;
 -webkit-transition: color 0.2s 0.02s ease;
 color:#0786ce;
 }
 
.s1 a:hover {
 color: #4a5565;
 }



/* ---------------------------
	Buttons
   --------------------------- */

/*стилизуем обе кнопки*/
#wrapper p.button input{
    width: 363px;
    cursor: pointer;
    background: rgb(7, 134, 206);
    padding: 8px 5px;
    font-family: helvetica;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
#wrapper p.button input:hover{
    background: rgb(74, 85, 101);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
    text-align: center;
    margin: 5px 0;
}


.fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

 
.fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

.animate{
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

.legacy_text_form{
	width:400px;
}

.text_terms_header{
	color:#FFF;
	padding-top: 20px;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 20px;
	font-size: 36px;
	font-family: Helvetica;
}

.text_before_terms{
	color:#000;	
	padding-top: 20px;
	padding-right: 20%;
	padding-left: 20%;
	font-size: 16px;
	font-family: Helvetica;
	text-align: left;
	margin-bottom: 10px;
}

.text_terms{
	color: #000;
	padding-right: 20%;
	padding-left: 20%;
}

.text_wiki{
	color:#FFF;
	padding-top: 20px;
	padding-right: 20%;
	padding-left: 20%;
	font-family: Helvetica;
	font-size: 16px;
	text-align: left;
}


.settings{
	padding-top: 24px;
	padding-left: 20%;
	padding-right: 20%;
}

/*Настройки аккаунта*/
.text_settings_headers{
	color:#FFF;
	font-family: Helvetica;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bolder;
}

.settings_image{
	padding-top: 10px;
	padding-bottom: 10px;
}	


#img{
	width:70px;
	height:70px;
	margin:15px;
	border-radius:10px;
}
 input[type=radio],
 input[type=checkbox] {
     -webkit-appearance  : button;
     float               : right;
     margin-bottom       : -2em;
     opacity             : 0;
 }

 label,
 input[type=radio],
 input[type=checkbox] {
 	background-color: #ffffff;
     width               : 345px;
     display             : block;
     padding             : 0.5em;
     height              : 1em;
 }

 label {
     padding-top         : 0.5em;
     border              : medium solid #aaaaaa;
     border-radius       : 3px;
 }

 input[type=radio]:checked + label,
 input[type=checkbox]:checked + label {
     border              : medium solid green;
 }

 input[type=radio]:checked + label:after,
 input[type=checkbox]:checked + label:after {
     float               : right;
     padding-right       : 0.5em;
 }

 .avatar img {
max-width: 355px;
max-height: 355px; /*задаем минимальную ширину и высоту, картинка подстроится под нужные размера блока, пропорции сохраняются*/
}
td {
	vertical-align: top;

}
textarea {
	height: 335px; /* Высота поля в пикселах */
	resize: none; /* Запрещаем изменять размер */

    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    width: 325px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
} 
.profileinfo{
	vertical-align: left;
}