html,
body,
#home,
#olymp {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*
 * Global
 */
.navbar-default,
.navbar-inverse {
    font-size: 16px;
}

.navbar-default .navbar-brand,
.navbar-inverse .navbar-brand {
    font-size: 20px;
}

/**/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
    transition: color 0.3s ease-out;
}

/* Navbar Inverse*/
.navbar-inverse {
    background-color: #3d496e;
    border-color: #2f3855;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #2f3855;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
    color: rgb(255, 255, 255);
}

/* Navbar Transparent*/
.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
}

.navbar-transparent .navbar-nav > li > a,
.navbar-transparent .navbar-brand {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-brand:hover {
    color: rgb(255, 255, 255);
}

/* Sections */
section .title {
    display: inline-block;
    color: #3d496e;
    font-weight: bold;
    margin-bottom: 24px;
    padding-bottom: 4px;
    border-bottom: 3px solid #3d496e;
}

/* Forms */
.form .form-control {
    position: relative;
    margin-bottom: 5px;
}
.form .form-control.join {
    margin-bottom: -1px;
}
.form .form-control:focus {
    z-index: 2;
}
.form .btn {
    margin-bottom: 10px;
}
/*
 * Home
 */
#home {
    position: relative;

    background: #2f3855;
    background: -moz-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #21273c), color-stop(50%, #2f3855), color-stop(100%, #3d496e));
    background: -webkit-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: -o-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: -ms-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: linear-gradient(135deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21273c', endColorstr='#3d496e', GradientType=1);

}

#home .brand,
#home .logo,
#home .sign {
    position: absolute;
    width: 100%;
}

#home .brand {
    top: 120px;
    color: #ffffff;
}

#home .logo {
    width: 223px;
    height: 183px;
    top: 50%;
    left: 50%;
    margin-left: -111px;
    margin-top: -91px;
}

#home .sign {
    bottom: 120px;
}

/* Olymps */
#olymp {
    position: relative;
    color: #fff;
    background: #2f3855;
    background: -moz-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #21273c), color-stop(50%, #2f3855), color-stop(100%, #3d496e));
    background: -webkit-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: -o-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: -ms-linear-gradient(-45deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    background: linear-gradient(135deg, #21273c 0%, #2f3855 50%, #3d496e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21273c', endColorstr='#3d496e', GradientType=1);

}

#olymp .title,
#olymp .desc,
#olymp .prizes,
#olymp .buttons,
#olymp .sponsors {
    position: absolute;
}

#olymp .title,
#olymp .desc,
#olymp .buttons,
#olymp .prizes {
    width: 100%;
}

#olymp .title {
    top: 100px;
}

#olymp .desc {
    top: 200px;
}

#olymp .prizes {
    bottom: 220px;
}

#olymp .prizes > table {
    display: inline-block;
}

#olymp .prizes > table td {
    width: 200px;
}

#olymp .sponsors {
    position: absolute;
    bottom: 50px;
    right: 100px;
}

#olymp .buttons {
    bottom: 80px;
}

#olymps table.olymp {
    margin-bottom: 20px;
}

#olymps table.olymp td:first-child {
    width: 110px;
    vertical-align: top;
}

#olymps table.olymp td:last-child h4 {
    margin-top: 0;
    font-weight: bold;
}

/**/
#olymp_page table.tasks {
    width: 100%;

}
#olymp_page table.tasks td {
    background-color: #3d4a6e;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white; /* Параметры рамки */
}
#olymp_page table.tasks td.solved {
    background-color: #589f6a;
}
#olymp_page table.tasks a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}
